{% extends "dashboard/base.html" %}
{% block title %}Trip List{% endblock %}
{% block content %}
<h1>Trips</h1>

{% if trips %}
    <ul>
        {% for t in trips %}
        <li>
            <a href="{% url 'trip-detail' t.id %}">
                <strong>{{ t.title }}</strong>
            </a>
            – {{ t.destination }} ({{ t.start_date }} to {{ t.end_date }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No trips found.</p>
{% endif %}


<p><a href="{% url 'trip-create' %}">Add a new trip</a></p>
{% endblock %}